.menu a,ul{
	text-decoration: none;
	color:gray;

}

.men li{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10% 8%;
}

li:hover{
	background-color:  #192951;
	padding: 5% 8%;
	color: white;
}
a:hover{
	color: white;
}

.fondo-uno{
	background: url("../img/dance_7.jpg");
}
.fondo-claro{
	background-color: black;
	margin-bottom: 6%;
	margin-left: 25%;
    margin-top: 17%;
    padding: 5%;

}
.sobre-nosotros{
	margin-left: 31%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: inline-block;
    color: white;
    font-size: 26px;

}
.lorem{
	padding: 3% 2%;
    text-align: center;
    margin-bottom: 5%;
}

.fondo-dos{
	background: url("../img/cubes.png");
}

.pilares{
	margin: 10% 2%;
	text-align: center;
}

.p-pilar{
	padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

/*falta la parte de los profesores */
.profesores{
	text-align: left;
	padding: 0% 11%
}

.pro{
	height: 200px;
	width: 250px;

}

/*espacio*/

.frase{
	background-color:rgb(244, 244, 244); 
	text-align: center;
	padding: 10% 5%;
	font-size: 35px;
}

.forma{
	background: url("../img/shoes_1.jpg");
	background-size: cover;
}
.formulario{
	display: block;
	margin: 5% 0%;
}
#contacto{
	font-size: 40px;
	color:#192951;
	padding-top: 10%; 
}

label{
	display: block;
}
input{
	margin-bottom:8%;
	border: 1px solid gray;
	padding: 5% 10%; 
	padding-right: 50%;
}
textarea{
	border: 1px solid gray;
	max-width: 460px;
	max-height: 200px;
	min-height: 100px;
	padding: 5% 10%;
	min-width: 325px;
}

#enviar{
	background-color: #192951;
	color: gray;
	margin-top: 7%;
	padding: 7% 37%;
	margin-bottom: 20%;
	font-size: 25px;

}
#enviar:hover{
	background-color: green;
	color: white;

	
}
#enviar-dos{
	background-color: black;
	color: white;

}

footer{
	background-color:#192951 ;
	color: white;
	font-size: 16px;
	padding: 3% 0%;
}